<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as parent">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="parent.searchText">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="parent.search();">Narrow It Down For Me!</button>
    </div>
    <!-- found-items should be implemented as a component -->
    <found-items my-list="parent" on-remove="parent.removeItem(index)"></found-items>
  </div>

</body>
</html>
